:root {
	--color-border: hsl(17, 24%, 90%);
	--astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
	--link-gradient: linear-gradient(45deg, #4F39FA, #DA62C4 30%, var(--color-border) 60%);
	--night-sky-gradient: linear-gradient(0deg, #392362 -33%, #431f69 10%, #30216b 50%, #1f1638 100%);
}

h2 {
	margin: 0;
	transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

h2 span {
	display: inline-block;
	transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

code {
	font-size: 0.875em;
	border: 0.1em solid var(--color-border);
	border-radius: 4px;
	padding: 0.15em 0.25em;
}

header, main {
	margin: auto;
	padding: 1em;
	max-width: 60ch;
}

.text-gradient, h2 {
	font-weight: 900;
	background-image: var(--astro-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 100% 200%;
	background-position-y: 100%;
	border-radius: 0.4rem;
	animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {

	0%,
	100% {
		background-position-y: 0%;
	}

	50% {
		background-position-y: 80%;
	}
}

.instructions {
	line-height: 1.8;
	margin-bottom: 2rem;
	background-image: var(--night-sky-gradient);
	padding: 1.5rem;
	border-radius: 0.4rem;
	color: var(--color-bg);
}

table {
	font-family: sans-serif;
}

th,td {
	padding: .25em .5em;
	text-align: left;
}

td {
	background-color: #eee;
}

th {
	background-image: var(--night-sky-gradient);
	color: #fff;
}

button {
	gap: 0.25em;
	padding: 0.33em 0.67em;
	border: 0;
	background: var(--astro-gradient);
	font-size: 1rem;
	align-items: center;
	gap: 0.25em;
	border-radius: 99em;
	color: #fff;
	background-color: var(--astro-gradient);
}

.search {
	display: flex;
  margin: 10px 0;
	width: 100%;
}