<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'waxtane/index.css' %}" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to 
            <span class="text-gradient">Waxtane</span>
        </h1>

        <p class="instructions">
            <strong>Niewlene niou waxtane</strong>
            , venez discuter, come discuss with us !
        </p>

        <h1>Search in Wolof</h1>
        <form class="search">
            <input class="search-input" type="search" placeholder="Saytu ben baat" aria-label="Search" name="q">
            <button type="submit">Rechercher</button>
        </form>
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Wolof</th>
                        <th>Français</th>
                        <th>Anglais</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sentence in sentences %}
                    <tr>
                        <td>{{sentence.id}}</td>
                        <td>{{sentence.sentence_wolof}}</td>
                        <td>{{sentence.sentence_fr}}</td>
                        <td>{{sentence.sentence_en}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </header>

    <main>
        <article>
            <section>
                <h1 id="waxtane" >Waxtane</h1>
                <p>Le Wolof the simple way ?!</p>
                <p>Niewlene niou waxtane, venez discuter, come discuss with us !</p>
                <h2 id="quest-ce-que-waxtane-">Qu’est ce que waxtane ?</h2>
                <p>
                    Waxtane est un receuil de phrases de discussion traduites en trois langues (pour le moment).
                    <br>
                    Le Wolof le Francais et l’Anglais.
                </p>
                <p>
                    Waxtane vise à faciliter la communication entre personnes parlant différentes langues, 
                    en se basant sur un modèle sans prise de têtes la discussion.
                </p>
                <h2 id="contributions">Contributions</h2>
                <p>Venez contribuer un max !<br>
                    Une discussion n’est rien sans ses intervenants.<br>
                    Feel free to send PR and suggestions. 😁<br>
                    Contribuez ici : <a href="{% url 'ajout' %}">Ajouter Contribution</a></p>
                <h2 id="phrases-disponibles">Phrases disponibles</h2>
                
                <table>
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Wolof</th>
                            <th>Français</th>
                            <th>Anglais</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datas in data%}
                        <tr>
                            <td>{{datas.id}}</td>
                            <td>{{datas.sentence_wolof}}</td>
                            <td>{{datas.sentence_fr}}</td>
                            <td>{{datas.sentence_en}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="https://github.com/GalsenDev221/made.in.senegal">
                    <img src="https://raw.githubusercontent.com/GalsenDev221/made.in.senegal/33552c3002801437cb9973915a0666371ab1b50b/assets/badge.svg">
                </a>
                <br>
                <a href="https://github.com/MedouneSGB/Waxtane" class="astro-UOXW7Z2L">Github Page</a>
            </section>
        </article>
    </main>
</body>
</html>