---
import { Markdown } from 'astro/components';
const content = await fetch('../README.md').then(res => res.text());
---

<article>
	<section>
		<Markdown content={content} />
	</section>
</article>

<style>
	
</style>
